.header {
  .bc-container{
    background-color: #1336C9;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .breadcrumbs-wrap{
    flex-wrap: wrap;
    width: 1110px;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 165px;
    .arr-link-wrap{
      display: flex;
      align-items: center;
    }
    li{
      display: inline;
      color: #98ACFF;
      span{
        color: #fff;
      }
    }
    .come-bck-link{
      position: relative;
    }

    .arrow-bck{
      margin-right: 6px;
    }
  }
}
@media screen and (max-width: 1445px) {
  .header {
    .breadcrumbs-wrap{
      padding-right: 40px;
      padding-left: 40px;
    }
    .navigation {
      .nav-link:nth-last-child(2) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 480px){
  .header{
    .bc-container{
      .breadcrumbs-wrap{
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
@media screen and (max-width: 410px) {
  .header {
    .bc-container {
      height: 60px;

      .breadcrumbs-wrap {
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;

        ul {
          margin-bottom: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 370px) {
  .header{
    .bc-container{
      .breadcrumbs-wrap{
        font-size: 13px;
      }
    }
  }
}
