.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  @include btn-w-310;
  font-size: 16px;
}
.orange-btn{
  background-color: $basic-orange;
  box-shadow: $box-shadow-orange-btn;
}