.featuredItems{
  font-family: "GilroyRegular", sans-serif;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 165px 0;
  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .section-title{
    font-family: "GilroySemiBold", sans-serif;
    color: $basic-orange;
    font-size: 36px;
    letter-spacing: 0.72px;
    line-height: 43px;
    margin-bottom: 30px;
  }
  .rent-description{
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 19px;
    text-align: center;
    max-width: 729px;
    margin-bottom: 30px;
  }
  .info-wrap{
    max-width: 1110px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .col{
      border-radius: 10px;
      width: 540px;
      box-shadow: 0 10px 30px #0000001A;
      img{
        height: 100%;
      }
      .btn{
        @include btn-w-240;
      }
      .xl-btn{
        width: 500px;
        min-width: 240px;
      }
      &:first-child, &:nth-child(2){
        margin-bottom: 30px;
      }
    }
    .picture{
      height: 200px;
      background-color: #363636;
    }
    p{
      font-size: 16px;
      line-height: 22px;
      max-height: 90px;
      min-height: 90px;
    }
    .info{
      padding: 20px;
      background-color: #fff;
      line-height: 22px;
    }
    .title-wrap{
      padding: 20px;
      border-radius: 10px 10px 0 0;
      background-color: #fff;
    }
    .buttons-wrap{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 20px;
      border-top: 1px solid #DDDDDD;
      background-color: #fff;
      border-radius: 0 0 10px 10px;
    }
    h3{
      font-family: "GilroySemiBold", sans-serif;
      margin-bottom: 5px;
      font-size: 24px;
      letter-spacing: 0.48px;
      line-height: 29px;
    }
    .subtitle{
      display: inline-block;
      font-size: 14px;
      letter-spacing: 0.28px;
      line-height: 22px;
    }
    .action-wrap{
      padding: 50px 0;
      margin-top: 50px;
      border-top: 1px solid #DDDDDD;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1110px;
      width: 100%;
    }
    .action-col{
      width: 350px;
      box-shadow: 0 10px 30px #0000001A;
      .orange-btn{
        @include btn-w-310;
      }
    }
    .f-act-col{
      .orange-btn{
        min-width: 125px;
        width: 125px;
        border-radius: 50px;
        height: 40px;
      }
      .blue-btn{
        height: 40px;
        min-width: 165px;
        width: 165px;
        border-radius: 50px;
      }
    }
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .orange-btn{
    background-color: $basic-orange;
    box-shadow: $box-shadow-orange-btn;
  }
  .blue-btn{
    background-color: $basic-blue;
    box-shadow: $box-shadow-blue-btn;
  }
}
@media screen and (max-width: 1420px){
  .featuredItems{
    padding-left: 20px;
    padding-right: 20px;
    //.info-wrap{
    //}
  }
}
@media screen and (max-width: 1130px){
  .featuredItems {
    padding-left: 40px;
    padding-right: 40px;
    .info-wrap{
      max-width: 800px;
      justify-content: center;
      .col:nth-of-type(3){
        margin-bottom: 30px;
      }
      .action-col:last-of-type{
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
@media screen and (max-width: 790px){
  .featuredItems{
    .info-wrap{
      max-width: 540px;
      .action-wrap{
        justify-content: center;
      }
      .action-col:first-child{
        margin-bottom: 30px;
      }
    }
  }
}
@media screen and (max-width: 620px){
  .featuredItems{
    .info-wrap{
      .col{
        .btn{
          min-width: 140px;
          width: 140px;
          margin: 0 auto;
        }
      }
      .buttons-wrap{
        max-width: 300px;
        margin: 0 auto;
      }
      .action-col{
        .btn{
          min-width: 140px;
          width: 140px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: 440px){
  .featuredItems{
    padding-left: 10px;
    padding-right: 10px;
    .info-wrap{
      .title-wrap{
        padding: 10px;
      }
      .info{
        padding: 10px;
        height: 120px;
      }
    }
  }
}
@media screen and (max-width: 425px){
  .featuredItems{
    .info-wrap{
      .action-col{
        width: 100%;
        margin-bottom: 30px;
        &:last-of-type{
          margin-top: 0;
          }
        }
      }
    }
  }
  @media screen and (max-width: 360px){
    .featuredItems{
      .section-title{
        text-align: center;
      }
      .info-wrap{
        .buttons-wrap{
          max-width: 140px;
          .btn:first-child{
            margin-bottom: 15px;
          }
        }
      }
    }
  }
