.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "GilroyRegular", sans-serif;
  color: #fff;
  background-color: #001157;
  padding-bottom: 30px;

  a{
    display: inline-block;
  }
  .logo-image{
    width: 133px;
    height: 40.6px;
    margin-bottom: 30px;
  }
  .navigation{
    margin-bottom: 20px;
    max-width: 390px;
    width: 390px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 19px;
  }
  .copyright{
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: 16px;
  }
  .scroll-to-top{
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    position: relative;
    top: -23px;
    &:before{
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: $basic-orange;
      box-shadow: $box-shadow-orange-btn;
      border-radius: 50px;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
    }
    &:after{
      content: '';
      position: absolute;
      width: 9px;
      height: 9px;
      top: 45%;
      left: 40%;
      @include transform-origin(center);
      @include transform(rotate(134deg));
      border-left: 2px solid #FFFFFF;
      border-bottom: 2px solid #FFFFFF;
    }
  }
}