.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 30px 165px 364px;
  background-image: url("../images/bg/header.png");
  background-size: cover;
  background-position: center;
  font-family: "GilroyRegular", sans-serif;
  text-align: center;

  a {
    display: inline-block;
    font-family: "GilroyRegular", sans-serif;
  }

  .logo-image {
    width: 133px;
    height: 40.6px;
    margin-right: 152px;

    img {
      height: 100%;
    }
  }
  .ht-btn {
    @include btn-w-160;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px #00000040;
  }

  .orange-btn {
    background-color: $basic-orange;
    box-shadow: $box-shadow-orange-btn;
  }

  .blue-btn {
    background-color: $basic-blue;
    box-shadow: $box-shadow-blue-btn;
  }

  .view-pln-btn {
    background-color: #ffffff;
    color: $basic-orange;
    box-shadow: 0 3px #B7B7B7;
  }

  .ht-buttons, h1 {
    font-family: "GilroySemiBold", sans-serif;
  }

  .ht-buttons {
    max-width: 350px;
    min-width: 350px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  h1 {
    font-size: 48px;
    letter-spacing: 0.96px;
    color: #FFFFFF;
    line-height: 57px;
    max-width: 790px;
    margin: 0 auto 30px;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1110px;
    margin: 0 auto 174px;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 19px;
    align-self: center;
    height: 53px;
    position: relative;
  }

  .ht-details {
    margin-bottom: 50px;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.36px;
  }

  .header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 790px;

  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 825px;

    .nav-link {
      &:nth-last-child(2) {
        margin-right: 248px;
      }
    }
  }

  .burger-btn {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;

    .burger-line {
      width: 28px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: 4px;
      right: 10px;
    }

    .first-l {
      top: 14px;
    }

    .second-l {
      top: 24px;
      transition: 0.5s;
    }

    .third-l {
      top: 24px;
      transition: 0.5s;
    }
  }
}

@media screen and (max-width: 1445px) {
  .header {
    .navigation {
      width: 600px;

      .nav-link:nth-last-child(2) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 1217px) {
  .header {
    padding-left: 60px;
    padding-right: 60px;

    .navigation {
      width: 550px;
    }

    .logo-image {
      margin-right: 52px;
    }
  }
}

@media screen and (max-width: 1073px) {
  .header {
    padding-bottom: 64px;

    .navigation {
      display: none;
      width: 160px;
      flex-direction: column;
      position: absolute;
      right: 10px;
      top: 50px;

      .nav-link {
        padding: 4px 0;

        &:nth-last-child(2) {
          margin-right: 0;
        }
      }
    }

    .burger-btn {
      display: block;
    }

    .header-top.menu-open {
      .navigation {
        display: flex;
      }

      .burger-btn {
        position: relative;

        .first-l {
          display: none;
        }

        .second-l {
          transform: rotate(45deg);
          transition: 0.5s;
        }

        .third-l {
          transform: rotate(-45deg);
          transition: 0.5s;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;

    h1 {
      font-size: 43px;
      line-height: 43px;
    }

    .ht-buttons {
      min-width: 160px;
      flex-direction: column;

      .ht-btn {
        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
  }
}


