.header{
  box-sizing: border-box;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 30px 165px 364px;
  background-image: url("../images/bg/header.png");
  background-size: cover;
  background-position: center;
  font-family: "GilroyRegular", sans-serif;
  text-align: center;
  a{
    display: inline-block;
    font-family: "GilroyRegular", sans-serif;
  }
  .logo-image{
    width: 133px;
    height: 40.6px;
    margin-right: 152px;
    img{
      height: 100%;
    }
  }
  .ht-btn{
    @include btn-w-160;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    box-shadow: 0 3px 6px #00000040;
  }
  .orange-btn{
    background-color: $basic-orange;
    box-shadow: $box-shadow-orange-btn;
  }
  .blue-btn{
    background-color: $basic-blue;
    box-shadow: $box-shadow-blue-btn;
  }
  .view-pln-btn{
    background-color: #ffffff;
    color: $basic-orange;
  }
  .ht-buttons, h1{
    font-family: "GilroySemiBold", sans-serif;
  }
  .ht-buttons{
    max-width: 350px;
    min-width: 350px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  h1{
    font-size: 48px;
    letter-spacing: 0.96px;
    color: #FFFFFF;
    line-height: 57px;
    max-width: 790px;
    margin: 0 auto 30px;
  }
  .header-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1110px;
    margin: 0 auto 174px;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 19px;
    align-self: center;
    height: 53px;
    //position: relative;
  }
  .ht-details{
    margin-bottom: 50px;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.36px;
  }
  .header-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 790px;

  }
  .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    //width: 387px;
    width: 825px;
    .nav-link{
      &:nth-last-child(2){
        margin-right: 278px;
      }
    }
  }
}
.burger-btn{
  position: relative;
  width: 30px;
  height: 30px;
  .burger-line{
    width: 28px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 4px;
    right: 10px;
  }
  .first-l{
    top: 14px;
  }
  .second-l{
    top: 24px;
    transition: 0.5s;
  }
  .third-l{
    top: 24px;
    transition: 0.5s;
  }
}
//.burger-btn.isClicked {
//  .first-l {
//    display: none;
//  }
//  .second-l {
//    transform: rotate(45deg);
//    transition: 0.5s;
//  }
//  .third-l {
//    transform: rotate(-45deg);
//    transition: 0.5s;
//  }
//}

//.navigation.toggleNav{
  //.header{
  //  .navigation{
  //    width: 160px;
  //    flex-direction: column;
  //    .nav-link{
  //      &:nth-last-child(2){
  //        margin-right: 0;
  //      }
  //    }
  //  }
  //}
//}
@media screen and (max-width: 1073px){
  .header{
    .navigation{
      display: none;
      width: 160px;
      flex-direction: column;
      position: absolute;
      right: -56px;
      top: 50px;
      .nav-link{
        &:nth-last-child(2){
          margin-right: 0;
        }
      }
    }
    .header-top.menu-open {
      .navigation {
        display: flex;

      }
      .burger-btn {
        position: relative;
        .first-l {
          display: none;
        }
        .second-l {
          transform: rotate(45deg);
          transition: 0.5s;
        }
        .third-l {
          transform: rotate(-45deg);
          transition: 0.5s;
        }
      }
    }
  }
}


