.header.headerBC.headerNews{
  padding: 0 0 378px;
  .header-wrapper {
    background-color: rgba(26, 65, 228, 1);
  }
  .info-wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .btn{
      width: 690px;
      height: 40px;
    }
    .col{
      border-radius: 10px;
      width: 730px;
      box-shadow: 0 10px 30px #0000001A;
      position: absolute;
      top: 183px;
      left: 50%;
      transform: translate(-50%);
      img{
        height: 100%;
      }
    }
    .picture{
      height: 238px;
      background-color: #363636;
    }
    p{
      font-size: 16px;
      line-height: 22px;
      max-height: 90px;
      min-height: 90px;
    }
    .info{
      padding: 20px;
      background-color: #fff;
    }
    .title-wrap{
      padding: 20px;
      border-radius: 10px 10px 0 0;
      background-color: #fff;
    }
    h3{
      font-family: "Gilroy", sans-serif;
      font-weight: 600;
      margin-bottom: 5px;
      font-size: 24px;
      letter-spacing: 0.48px;
      line-height: 29px;
    }
    .subtitle{
      display: inline-block;
      font-size: 14px;
      letter-spacing: 0.28px;
      line-height: 22px;
    }
    .buttons-wrap{
      display: flex;
      justify-content: center;
      padding: 20px;
      border-top: 1px solid #DDDDDD;
      background-color: #fff;
      border-radius: 0 0 10px 10px;
    }
  }
}
