.newsList {
  padding: 262px 40px 74px;
  font-family: "Gilroy", sans-serif;
  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .info-wrap {
    max-width: 1110px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .col {
      border-radius: 10px;
      width: 350px;
      box-shadow: 0 10px 30px #0000001A;
      margin-bottom: 30px;
      img {
        height: 100%;
      }
    }
    .picture {
      height: 200px;
    }
    p{
      font-size: 16px;
      line-height: 22px;
      max-height: 90px;
      min-height: 90px;
    }
    .info{
      padding: 20px;
      background-color: #fff;
    }
    .title-wrap{
      padding: 20px;
      border-radius: 10px 10px 0 0;
      background-color: #fff;
    }
    h3{
      margin-bottom: 5px;
      font-size: 24px;
      letter-spacing: 0.48px;
      line-height: 29px;
    }
    .subtitle{
      display: inline-block;
      font-size: 14px;
      letter-spacing: 0.28px;
      line-height: 22px;
    }
    .buttons-wrap{
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-top: 1px solid #DDDDDD;
      background-color: #fff;
      border-radius: 0 0 10px 10px;
    }
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    @include btn-w-310;
    font-size: 16px;
  }

  .pagination{
    display: flex;
    max-width: 1110px;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    .active {
      color: #F7F7F7;
      background-color: $basic-orange;
      box-shadow: 0 3px rgba(197, 143, 57, 1);
    }
    a{
      width: 40px;
      min-width: 40px;
      height: 40px;
      background-color: #fff;
      border-radius: 50px;
      box-shadow: 0 3px rgba(217, 217, 217, 1);
      color: $basic-orange;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.28px;
      font-family: "Gilroy", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(:last-child){
         margin-right: 20px;
      }
      &:active, &:hover{
        background-color: $basic-orange;
        box-shadow: $box-shadow-orange-btn;
        color: #FFF;
      }
    }
    .link-last, .link-first{
      width: 100px;
    }
  }
}

@media screen and (max-width: 795px) {
  .newsList {
    padding-top: 50px;
    .info-wrap {
      justify-content: center;
      flex-direction: column;
      .col {
        display: flex;
        flex-direction: column;
        align-self: center;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .newsList {
    padding-left: 20px;
    padding-right: 20px;
    .btn {
      min-width: auto;
      width: 100%;
    }
  }
  .pagination {
    a {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .newsList {
    .info-wrap {
      .col {
        width: auto;
      }
    }
  }
}