.rentalPackages {
  background-image: url("../images/bg/rentalPack6@2x.png");
  background-size: cover;
  background-position: center;
  font-family: "GilroyRegular", sans-serif;
  padding: 121px 165px 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .section-title{
    font-family: "GilroySemiBold", sans-serif;
    color: $basic-orange;
    font-size: 36px;
    letter-spacing: 0.72px;
    line-height: 43px;
    margin-bottom: 30px;
  }
  .rent-description{
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 19px;
    text-align: center;
    max-width: 729px;
    margin-bottom: 30px;
  }
  .info-wrap{
    max-width: 1110px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .col{
      border-radius: 10px;
      width: 350px;
      box-shadow: 0 10px 30px #0000001A;
      img{
        height: 100%;
      }
    }
    .picture{
      height: 200px;
      background-color: #363636;
    }
    p{
      font-size: 16px;
      line-height: 22px;
      max-height: 90px;
      min-height: 90px;
    }
    .info{
      padding: 20px;
      background-color: #fff;
    }
    .title-wrap{
      padding: 20px;
      border-radius: 10px 10px 0 0;
      background-color: #fff;
    }
    h3{
      font-family: "GilroySemiBold", sans-serif;
      margin-bottom: 5px;
      font-size: 24px;
      letter-spacing: 0.48px;
      line-height: 29px;
    }
    .subtitle{
      display: inline-block;
      font-size: 14px;
      letter-spacing: 0.28px;
      line-height: 22px;
    }
    .buttons-wrap{
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-top: 1px solid #DDDDDD;
      background-color: #fff;
      border-radius: 0 0 10px 10px;
    }
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    @include btn-w-310;
    font-size: 16px;
  }
  .orange-btn{
    background-color: $basic-orange;
    box-shadow: $box-shadow-orange-btn;
  }
}
@media screen and (max-width: 1400px){
  .rentalPackages{
    padding-left: 20px;
    padding-right: 20px;
    .info-wrap{
      .col:last-child{
        justify-content: center;

      }
    }
  }
}
@media screen and (max-width: 1110px){
  .rentalPackages{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
    .buttons-wrap{
      padding-left: 0;
      padding-right: 0;
    }
    .info-wrap{
      max-width: 800px;
      .col {
        margin-bottom: 30px;
      }
      .col:last-child {
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 800px){
  .rentalPackages{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 760px){
  .rentalPackages{
    .info-wrap {
      max-width: 350px;
    }
  }
}

@media screen and (max-width: 440px){
  .rentalPackages{
    padding-left: 10px;
    padding-right: 10px;
    .info-wrap{
      .info{
        padding: 10px;
        height: 120px;
        }
      }
    }
  }

@media screen and (max-width: 340px){
  .rentalPackages{
    .info-wrap{
      .col{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
@media screen and (max-width: 370px){
  .rentalPackages{
    .info-wrap{
      .buttons-wrap{
        justify-content: center;
      }
    }
    .btn{
      min-width: 220px;
      width: 210px;
    }
  }
}
