<section class="featuredItems">
    <div class="container">
        <h2 class="section-title">Featured Items</h2>
        <p class="rent-description">
            The most durable and robust equipment. A huge fleet of inventory. Quick delivery and service.
            Where you need it. When you need it. That's the mark of Tiger.
        </p>
        <div class="info-wrap">
            <div class="col">
                <div class="title-wrap">
                    <h3>Tiger Mats Rentals</h3>
                    <span class="subtitle">Versatility is the smart choice for your matting requirements.</span>
                </div>
                <figure class="picture">
                    <img src="#" alt="picture">
                </figure>
                <div class="info">
                    <p>
                        Tiger has 4 matting solutions - ECOmats, Tiger Laminate Mats, Tiger
                        Poly Mats and Tiger Wood Mats. Each has distinct individual
                        advantages to fit your specific needs.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn">Learn more</a>
                    <a href="#" class="learn-btn orange-btn btn">Brochures</a>
                </div>
            </div>
            <div class="col">
                <div class="title-wrap">
                    <h3>Surface Rental Package</h3>
                    <span class="subtitle">Drilling Rental Equipment</span>
                </div>
                <figure class="picture">
                    <img src="#" alt="picture">
                </figure>
                <div class="info">
                    <p>
                        Tiger's Surface Rental Package is
                        equipped to successfully accomplish your
                        drilling goals. From rig mats to mud vacs,
                        Tiger has what you need to succeed.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn">Learn more</a>
                </div>
            </div>
            <div class="col">
                <div class="title-wrap">
                    <h3>Frac Pack</h3>
                    <span class="subtitle">Completions Rental Equipment</span>
                </div>
                <figure class="picture">
                    <img src="#" alt="picture">
                </figure>
                <div class="info">
                    <p>
                        Tiger has a large presence in the heart of
                        the completions industry. Our Frac Pack is
                        stocked full of well testing equipment,
                        pumps, pipe, tanks and more.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>