<section class="featuredItems">
    <div class="container">
        <h2 class="section-title">Featured Items</h2>
        <p class="rent-description">
            The most durable and robust equipment. A huge fleet of inventory. Quick delivery and service.
            Where you need it. When you need it. That's the mark of Tiger.
        </p>
        <div class="info-wrap">
            <div class="col">
                <div class="title-wrap">
                    <h3>Tiger Mats Rentals</h3>
                    <span class="subtitle">
                        Versatility is the smart choice for your matting requirements.
                    </span>
                </div>
                <figure class="picture">
                    <img src="#" alt="picture">
                </figure>
                <div class="info">
                    <p>
                        Tiger has 4 matting solutions - ECOmats, Tiger Laminate Mats, Tiger
                        Poly Mats and Tiger Wood Mats. Each has distinct individual
                        advantages to fit your specific needs.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn">Learn more</a>
                    <a href="#" class="learn-btn blue-btn btn">Brochures</a>
                </div>
            </div>
            <div class="col">
                <div class="title-wrap">
                    <h3>Tiger Pumps Rentals</h3>
                    <span class="subtitle">
                        Tiger has the pumps you need for upstream, midstream and downstream.
                    </span>
                </div>
                <figure class="picture">
                    <img src="#" alt="picture">
                </figure>
                <div class="info">
                    <p>
                        From high volume and high pressure pumps to small, portable
                        pumps, Tiger has the pump solutions to help with industrial and
                        commercial fluid transfer requiments.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn">Learn more</a>
                    <a href="#" class="learn-btn blue-btn btn">Brochures</a>
                </div>
            </div>
            <div class="col">
                <div class="title-wrap">
                    <h3>Tiger Blast Resistant Buildings Rentals</h3>
                    <span class="subtitle">
                        Get protection from blasts, threats, natural disasters and hazards.
                    </span>
                </div>
                <figure class="picture">
                    <img src="#" alt="picture">
                </figure>
                <div class="info">
                    <p>
                        With safety in mind, Tiger Industrial Rentals stocks a huge inventory
                        of blast resistant buildings for refineries, chemical plants, gathering
                        stations, drilling sites and more.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn">Learn more</a>
                    <a href="#" class="learn-btn blue-btn btn">BRB Catalog</a>
                </div>
            </div>
            <div class="col">
                <div class="title-wrap">
                    <h3>Tiger Pressure Washers Rentals</h3>
                    <span class="subtitle">
                        When you need to get it clean, we have the solution for you.
                    </span>
                </div>
                <figure class="picture">
                    <img src="#" alt="picture">
                </figure>
                <div class="info">
                    <p>
                        Tiger's industrial cleaning equipment helps customers clean quicker,
                        more efficiently and economically.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn xl-btn">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>