<div class="footer">
    <a href="#" class="scroll-to-top">
        <span class="circle-orange">
        </span>
    </a>
    <a href="#" class="logo-link">
        <figure class="logo-image">
            <img src="/images/group2.svg" alt="logo-img">
        </figure>
    </a>
    <nav class="navigation">
        <a href="#" class="nav-link">About</a>
        <a href="#" class="nav-link">Photo gallery</a>
        <a href="#" class="nav-link">News</a>
        <a href="#" class="nav-link">Contacts</a>
    </nav>
    <p class="copyright">
        © 2019 Smartline Energy | All rights reserved | Developed by Cheport.com.ua
    </p>
</div>