<div class="header-top">
    <figure class="logo-image">
        <img src="/images/group2.svg" alt="logo-img">
    </figure>
    <nav class="navigation">
        <a href="#" class="nav-link">About</a>
        <a href="#" class="nav-link">Photo gallery</a>
        <a href="#" class="nav-link">News</a>
        <a href="#" class="nav-link">Contacts</a>
        <a href="#" class="signup-btn ht-btn orange-btn">Sign Up</a>
    </nav>

    <div class="burger-btn">
        <div class="burger-line first-l"></div>
        <div class="burger-line second-l"></div>
        <div class="burger-line third-l"></div>
    </div>
</div>