<header class="header">
    <div class="header-wrapper">
        <div class="header-top">
            <a href="#" class="logo-link">
                <figure class="logo-image">
                    <img src="/images/group2.svg" alt="logo-img">
                </figure>
            </a>
            <nav class="navigation">
                <a href="#" class="nav-link">About</a>
                <a href="#" class="nav-link">Photo gallery</a>
                <a href="#" class="nav-link">News</a>
                <a href="#" class="nav-link">Contacts</a>
                <a href="#" class="signup-btn ht-btn orange-btn">Sign Up</a>
            </nav>


            <div class="burger-btn">
                <div class="burger-line first-l"></div>
                <div class="burger-line second-l"></div>
                <div class="burger-line third-l"></div>
            </div>

        </div>
        <div class="header-bottom">
            <h1>
                Getting rental equipment to you any where, any time!
            </h1>
            <div class="ht-details">
                24 Hours / 7 Days a Week / 365 Days a Year - Dispatch: 1-888-866-0047 or 409-832-9336
            </div>
            <div class="ht-buttons">
                <a href="#" class="get-strd-btn ht-btn orange-btn">GET STARTED</a>
                <a href="#" class="view-pln-btn ht-btn">VIEW PLAN</a>
            </div>
        </div>
    </div>
</header>

