<section class="newsList">
    <div class="container">
        <div class="info-wrap">
            <div class="col">
                <div class="title-wrap">
                    <h3>News #1</h3>
                    <span class="subtitle">28 November 2019</span>
                </div>
                <figure class="picture">
                    <img src="#" alt="picture">
                </figure>
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn">Read more</a>
                </div>
            </div>
            <div class="col">
                <div class="title-wrap">
                    <h3>News #2</h3>
                    <span class="subtitle">20 November 2019</span>
                </div>
                <figure class="picture">
                    <img src="#" alt="picture">
                </figure>
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn">Read more</a>
                </div>
            </div>
            <div class="col">
                <div class="title-wrap">
                    <h3>News #3</h3>
                    <span class="subtitle">15 November 2019</span>
                </div>
                <figure class="picture">
                    <img src="#" alt="picture">
                </figure>
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
