<section class="rentalPackages">
    <div class="container">
        <h2 class="section-title">Rental Packages</h2>
        <p class="rent-description">
            For oil and gas equipment rentals, Tiger is your go-to one-stop source. We have locations close
            to you, each with a full range of high-quality equipment for cleaning, pumping and power
            generation, as well as blast-resistant buildings and flooring. Whatever you need, one call to
            Tiger Industrial Rentals makes it happen.
        </p>
        <div class="info-wrap">
            <div class="col">
                <div class="title-wrap">
                    <h3>Tank Farm Package</h3>
                    <span class="subtitle">Tank Farm/Tank Cleaning Rental Equipment</span>
                </div>
                <figure class="picture">
                    <img src="/images/350x200.png" alt="picture">
                </figure>
                <div class="info">
                    <p>
                        Tiger's Surface Rental Package is
                        equipped to successfully accomplish your
                        drilling goals. From rig mats to mud vacs,
                        Tiger has what you need to succeed.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn">Learn more</a>
                </div>
            </div>
            <div class="col">
                <div class="title-wrap">
                    <h3>Surface Rental Package</h3>
                    <span class="subtitle">Drilling Rental Equipment</span>
                </div>
                <figure class="picture">
                    <img src="/images/350x200.png" alt="picture">
                </figure>
                <div class="info">
                    <p>
                        Tiger's Surface Rental Package is
                        equipped to successfully accomplish your
                        drilling goals. From rig mats to mud vacs,
                        Tiger has what you need to succeed.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn">Learn more</a>
                </div>
            </div>
            <div class="col">
                <div class="title-wrap">
                    <h3>Frac Pack</h3>
                    <span class="subtitle">Completions Rental Equipment</span>
                </div>
                <figure class="picture">
                    <img src="/images/350x200.png" alt="picture">
                </figure>
                <div class="info">
                    <p>
                        Tiger has a large presence in the heart of
                        the completions industry. Our Frac Pack is
                        stocked full of well testing equipment,
                        pumps, pipe, tanks and more.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn">Learn more</a>
                </div>
            </div>

        </div>
    </div>
</section>