<section class="RentServices">
    <div class="container">
        <h2 class="section-title">Rental Equipment & Services</h2>
        <p class="rent-description">
            Tiger Industrial Rentals provides quick and reliable service to the energy, industrial, commercial
            and environmental markets. We Rent, Sale, Lease, RPO, Repair, Support and Train on Equipment.
            Tiger's vast selection of rental equipment is distributed throughout the US including in the
            Permian Shale and along the Gulf Coast, as well as, multiple international locations. Whatever
            industry your company may be in, we've got the rental equipment you need to execute your
            projects successfully.
        </p>
        <div class="info-wrap">
            <div class="col">
                <figure class="picture">
                    <img src="/images/350x200.png" alt="picture">
                </figure>
                <div class="info">
                    <h3>Upstream</h3>
                    <p>
                        Throughout drilling, completions
                        production, Tiger Industrial Rentals has
                        the right equipment to meet all of your
                        UPSTREAM rental equipment demands.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn">Learn more</a>
                    <a href="#" class="learn-btn blue-btn btn">Catalog</a>
                </div>
            </div>
            <div class="col">
                <figure class="picture">
                    <img src="/images/350x200.png" alt="picture">
                </figure>
                <div class="info">
                    <h3>Midstream</h3>
                    <p>
                        Tiger Industrial is a ready source for all
                        MIDSTREAM rental equipment. From mats,
                        pumps, generators and more, Tiger has
                        what you need where and when you need it.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn">Learn more</a>
                    <a href="#" class="learn-btn blue-btn btn">Catalog</a>
                </div>

            </div>
            <div class="col">
                <figure class="picture">
                    <img src="/images/350x200.png" alt="picture">
                </figure>
                <div class="info">
                    <h3>Downstream</h3>
                    <p>
                        Get fast response for DOWNSTREAM
                        equipment rentals. From pumps,
                        generators, mats, blast resistant buildings
                        and water blasters, we make it happen.
                    </p>
                </div>
                <div class="buttons-wrap">
                    <a href="#" class="learn-btn orange-btn btn">Learn more</a>
                    <a href="#" class="learn-btn blue-btn btn">Catalog</a>
                </div>
            </div>
        </div>
    </div>
    <h2 class="section-title st2">Tiger Rentals Video</h2>
</section>
<section class="tigerRentals">
    <div class="video-blue-block">
        <video width="730" height="455" poster="/images/videoPreviewImg.png.png"></video>
    </div>
</section>



