//*******buttons
@mixin btn-w-145 {
  min-width: 145px;
  width: 145px;
  height: 40px;
  border-radius: 50px;
}

@mixin btn-w-310 {
  min-width: 310px;
  width: 310px;
  height: 40px;
  border-radius: 50px;
}

@mixin btn-w-240 {
  min-width: 240px;
  width: 240px;
  height: 40px;
  border-radius: 50px;
}

@mixin btn-w-160 {
  min-width: 160px;
  width: 160px;
  height: 50px;
  border-radius: 50px;
}

//******end of buttons

@mixin box-sizing{
  //-moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transition($property: all, $duration: .3s, $ease: linear){
  //-webkit-transition: $property $duration $ease;
  //-moz-transition: $property $duration $ease;
  //-o-transition: $property $duration $ease;
  transition: $property $duration $ease;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    //-webkit-box-shadow:inset $top $left $blur $color;
    //-moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    //-webkit-box-shadow: $top $left $blur $color;
    //-moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin transform($transforms) {
  //-moz-transform: $transforms;
  //-o-transform: $transforms;
  //-ms-transform: $transforms;
  //-webkit-transform: $transforms;
  transform: $transforms;
}

@mixin transform-origin($transforms){
  transform-origin: center;
}

@mixin box-shadow($boxData){
  //-webkit-box-shadow: $boxData;
  //-moz-box-shadow: $boxData;
  box-shadow: $boxData;
}

@mixin flex(){
  //display: -webkit-box;
  //display: -moz-box;
  //display: -ms-flexbox;
  //display: -webkit-flex;
  display: flex;
}
@mixin justify-content($align){
  //-ms-justify-content: $align;
  //-moz-justify-content: $align;
  //-webkit-justify-content: $align;
  justify-content: $align;
}

@mixin align-items($align){
  //-moz-align-items: $align;
  //-ms-align-items: $align;
  //-webkit-align-items: $align;
  align-items: $align;
}

@mixin flex-direction($direction){
  flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
  //-webkit-flex-wrap: $wrap;
  //-moz-flex-wrap: $wrap;
  //-ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

