//*******buttons
@mixin btn-w-145 {
  min-width: 145px;
  width: 145px;
  height: 40px;
  border-radius: 50px;
}

@mixin btn-w-310 {
  min-width: 310px;
  width: 310px;
  height: 40px;
  border-radius: 50px;
}

@mixin btn-w-240 {
  min-width: 240px;
  width: 240px;
  height: 40px;
  border-radius: 50px;
}

@mixin btn-w-160 {
  min-width: 160px;
  width: 160px;
  height: 50px;
  border-radius: 50px;
}

//******end of buttons

@mixin box-sizing{
  box-sizing: border-box;
}

@mixin transition($property: all, $duration: .3s, $ease: linear){
  transition: $property $duration $ease;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    box-shadow:inset $top $left $blur $color;
  } @else {
        box-shadow: $top $left $blur $color;
  }
}

@mixin transform($transforms) {
  transform: $transforms;
}

@mixin transform-origin($transforms){
  transform-origin: center;
}

@mixin box-shadow($boxData){
  box-shadow: $boxData;
}

@mixin flex(){
  display: flex;
}
@mixin justify-content($align){
  justify-content: $align;
}

@mixin align-items($align){
  align-items: $align;
}

@mixin flex-direction($direction){
  flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
  flex-wrap: $wrap;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

